A JSON (JavaScript Object Notation) file is a file that stores simple data structures and objects in JavaScript Object Notation (JSON) format, which is a standard data interchange format. It is primarily used to transmit data between a server and a web application, as an alternative to XML. JSON files are lightweight, text-based, and easy for humans to read and write, as well as easy for machines to parse and generate.

# IMPORTING LIBRARIES

In [1]:
import pandas as pd
import json

# LOADING JSON FILE AND EXTRACTION

In [2]:
# load json file
with open('sample4.json','r') as f:
    data =json.load(f)

In [3]:
# Extract the specific data
df = pd.json_normalize(data, 'people', errors='ignore')

# Print the DataFrame
print(df)

  firstName lastName  gender  age      number
0       Joe  Jackson    male   28  7349282382
1     James    Smith    male   32  5678568567
2     Emily    Jones  female   24   456754675

# CHECKING DATA

In [4]:
df.head(1)

  firstName lastName gender  age      number
0       Joe  Jackson   male   28  7349282382

In [5]:
df.tail

<bound method NDFrame.tail of   firstName lastName  gender  age      number
0       Joe  Jackson    male   28  7349282382
1     James    Smith    male   32  5678568567
2     Emily    Jones  female   24   456754675>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   firstName  3 non-null      object
 1   lastName   3 non-null      object
 2   gender     3 non-null      object
 3   age        3 non-null      int64
 4   number     3 non-null      object
dtypes: int64(1), object(4)
memory usage: 248.0+ bytes

#SAVING A DATAFRAME

In [8]:
df.to_csv("people.csv",index=False)